form {
  max-width: 460px;
}

button {
  cursor: pointer;
  color: black;
  border-radius: 2px;
  border: 1px solid black;
}

time {
  margin-top: 2rem;
}

.heading-sub {
  margin-top: 0.5rem;
}

.image {
  border: 5px solid burlywood;
}

.frame {
  font-size: clamp(20px, 2vw, 25px);
  text-align: center;
}