@font-face {
    font-family: GoudyBookletter1911-Regular;
    src: url("/fonts/GoudyBookletter1911-Regular.woff2") format("woff2"), url("/fonts/GoudyBookletter1911-Regular.ttf");
    font-display: swap;
}

h1 {
    font-family: GoudyBookletter1911-Regular, Times New Roman, serif;
    font-size: clamp(50px, 5vw, 70px);
    font-weight: 600;
    line-height: 1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
}

form > * {
    display: block;
    margin-top: 0.5rem;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding-left: 5px;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.75rem;
}

button {
    color: black;
    border-radius: 2px;
    cursor: pointer;
}

time {
    margin-top: 2rem;
}

.heading-sub {
    margin-top: 0.75rem;
}

.image {
    border: 5px solid burlywood;
    margin: auto;
    margin-top: 0.5rem;
}