/***
    A modern CSS reset
    By Piccalilli:  https://piccalil.li/blog/a-modern-css-reset/
***/

 /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  font-family: DidactGothic-Regular;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Project styles */
html {
    font-size: clamp(20px, 2vw, 25px);
}

body {
    background-color: bisque; /* #f2ffc487 */
    font-family : YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    transition: margin 0.1s ease;
}

header {
    padding: 15px 15px 0 15px;
    letter-spacing: 0.1em;
}

@media only screen and (min-width: 1500px) {
    main {
        margin-top: -60px;
    }
}

header a {
    text-decoration: none;
}

header a:visited {
    color: inherit;
}

footer p {
    padding: 10px 10px 10px 15px;
}