/***
    A modern CSS reset
    By Piccalilli:  https://piccalil.li/blog/a-modern-css-reset/
***/

 /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: calc(100vh - (var(--frame-margin) * 2));
  text-rendering: optimizeSpeed;
  font-family: DidactGothic-Regular;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Project styles */
:root {
    --frame-margin: 15px;
}

html {
    font-size: clamp(20px, 2vw, 30px);
}

body {
    background-color: bisque; /* #f2ffc487 */
    font-family : YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
    padding: clamp(5px, 15px, 25px);
    border: 5px solid burlywood;
    margin: var(--frame-margin);
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

header {
    /* display: flex;
    justify-content: space-between;
    font-size: clamp(24px, 2vw, 32px);
    padding: 10px 10px 10px 15px; */
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: fixed;
    top: 0;
}

header a {
    padding: 5px;
    text-decoration: none;
}

header a:visited {
    color: inherit;
}

footer p {
    padding: 10px 10px 10px 15px;
}